.heading {
  display: flex;
  background-color: rgb(11, 11, 22);
  color: white;
  justify-content: center;
  height: fit-content;
}

.images {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.lawyerimg {
  margin: 4rem;
  height: 25rem;
  width: 20rem;
}

.divanime{
  display: flex;
  align-items: center;

}

.divtag {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.banner {
  background-image: url("../resource/law-scale.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vH;
}

.contactdiv{
  display: flex;
  display: flex;
    justify-content: space-between;
    background-color: rgb(0,0,0)	;
    flex-wrap: wrap;
}

.atag{
  color: white;
  text-decoration: solid;
  /* color: rgb(197, 94, 5); */
  font-size: larger;
  margin: 2rem;
}

.bannerbutton {
  color: white;
  background-color: rgb(184, 75, 3);
  border-color: rgb(184, 75, 20);
  border-radius: 5px;
  /* height: 2.5rem;
  width: 9rem; */
  height: fit-content;
  width: fit-content;
  /* margin: 7rem; */
  /* margin-top: 0; */
  font-size: medium;
  font-weight: bold;
}

.header-animated span{
  color: #fff !important;
  font-size: 50px;
  font-weight: 700;
}

.teamWrapper {
  margin-top: 50px;
}
.container {
--container: 1160px;
max-width: var(--container);
margin: auto;
}
.teamGrid {
  display: grid;
  grid-template-columns: 32.33% 32.33% 32.33%;
  column-gap: 1.5%;
  margin-top: 100px;
}
.avatar {
  position: absolute;
  left: 0;
  right: 0;
  top: -153px;
  text-align: center;
}
.teamcolinner {
  position: relative;
}
.avatar > img {
  width: 200px;
  margin: auto;
  box-shadow: 0px 3px 10px 3px rgb(170 170 173 / 0.5);
}
.teamcolinner {
  position: relative;
  border: 1px dashed #ddd;
  min-height: 100px;
  background: #fff;
  z-index: 9;
}
.teamcol {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  transition: transform 1s ease-in-out;
}
.teamcol:hover {
  transform: translateY(-30px);
  box-shadow: 0px 3px 10px 3px rgb(170 170 173 / 0.5);
  transition: transform 1s ease-in-out;
}
.teamcol:before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background: -webkit-linear-gradient(#ffbf00, #ffa000);
  border-top-right-radius: 10px;
  transition: width 1s ease-in-out;
}
.teamcol:after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-linear-gradient(#0052cc, #005fec);
  border-bottom-left-radius: 10px;
  transition: width 1s ease-in-out;
}
.teamcol:hover::before, .teamcol:hover::after {
  width: 100%;
  transition: width 1s ease-in-out;
}
.member-name {
  margin-top: 80px;
}
.member-info {
  padding: 10px 20px;
}
.social-listing {
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 0;
}
.social-listing >li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #f4f5f7;
  border-radius: 50%;
  margin: 5px;
}